* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family:  JetBrains Mono ;
}

window#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  font-size: 11px;
  border-radius: 5px;
}

#workspaces button {
  padding-right: 4px;
  padding-left: 9px;
  color: #45475a;
}

#workspaces button.active {
  color: #cdd6f4;
}

#workspaces button.focused {
  color: #cdd6f4;
}


#workspaces button:hover {
  color: #cdd6f4;
  background-color: #181825;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#bluetooth,
#battery,
#backlight,
#network,
#cpu,
#clock,
#tray {
  border-radius: 0px;
  margin: 4px 3px;
  padding: 0px 10px;
  background-color: #1e1e2e;
  /* color: #181825; */
  color: #cdd6f4;
  font-size: 11px;
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

#battery.warning {
  background-color: #ffc389;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  color: #a6e3a1;
}



#network {
  padding-right: 17px;
}

#clock {
  font-size: 11px;
}

tooltip {
  border-radius: 4px;
  padding: 15px;
  background-color: #181825;
}

tooltip label {
  padding: 5px;
  background-color: #181825;
}
